@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Black+Han+Sans&family=Do+Hyeon&family=Gothic+A1:wght@800&family=Gowun+Batang&family=Lobster&family=Nanum+Brush+Script&family=Oswald:wght@600&display=swap');

/* Editor */

.DiaryEditor {
    border: 2px solid #ececec;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 10px #000;
}

.DiaryEditor h2 {
    font-size: 30px;
    font-weight: bold;
    color: #23120b;
    font-family: 'Oswald', sans-serif;
}

.DiaryEditor input,
textarea {
    margin-bottom: 20px;
    width: 500px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid grey;
}

.DiaryEditor textarea {
    height: 150px;
    outline: none;
    border-radius: 10px;
    border: 1px solid grey;
}

.DiaryEditor select {
    width: 300px;
    height: 37px;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    border-radius: 6px;
    color: grey;
    border: 1px solid grey;
}

.DiaryEditor button {
    width: 500px;
    /* padding: 10px; */
    padding: 14px;
    background-color: #185adb;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
}

/* list */

.DiaryList {
    border-radius: 15px;
    padding: 15px;
    margin-top: 20px;
}

.DiaryList h2 {
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
}

.DiaryList h4 {
    width: 170px;
    height: 28px;
    background: #ec255a;
    color: white;
    font-weight: normal;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 18px;
}
/* Item */

.DiaryItem {
    background-color: #dfdfdf;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.DiaryItem .info {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.DiaryItem .date {
    color: grey;
}

.DiaryItem .content {
    font-weight: bold;
    margin: 30px 0;
}

/* Unmounttest */

.Unmounttest {
    padding-top: 12px;
    color: rgb(204, 25, 64);
    font-weight: bold;
}

.UnmountBtn {
    width: 90px;
    height: 34px;
    border: 1px solid rgb(34, 32, 32);
    color: white;
    background-color: rgb(34, 32, 32);
    border-radius: 20px;
}
