.DiaryEditor {
    border: 1px solid grey;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
}

.DiaryEditor h2 {
    font-size: 45px;
    font-weight: bold;
}

.DiaryEditor input,
textarea {
    margin-bottom: 20px;
    width: 500px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid grey;
}

.DiaryEditor textarea {
    height: 150px;
    outline: none;
    border-radius: 10px;
    border: 1px solid grey;
}

.DiaryEditor select {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    border-radius: 6px;
    border: 1px solid grey;
}

.DiaryEditor button {
    width: 500px;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
}

/* list */

.DiaryList {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 100px;
    margin-top: 9px;
}

.DiaryList h2 {
    text-align: center;
}

/* Item */

.DiaryItem {
    background-color: #7dabf0;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.DiaryItem .info {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.DiaryItem .date {
    color: grey;
}

.DiaryItem .content {
    font-weight: bold;
    margin: 30px 0;
}

/* unmounttest */
.Unmounttest {
    padding-top: 15px;
    color: rgb(204, 25, 64);
    font-weight: bold;
}

.UnmountBtn {
    border: 1px solid rgb(204, 25, 64);
    color: white;
    background-color: rgb(204, 25, 64);
}
